/* loader */
.wpajaxbundle.loader {}
.wpajaxbundle.loader .load-wrapp {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
}
.wpajaxbundle.loader .bar { 
    float: left;
    width: 15px;
    height: 6px;
    border-radius: 2px;
    background-color:#2ab1b8; 
}
.wpajaxbundle.loader .l-10 {
    animation-delay: 1.56s;
}
.wpajaxbundle.loader .load-10 .bar {
    animation: loadingJ 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}
@keyframes loadingJ {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(80px, 0);
      background-color: #550d83;
      width: 25px;
    }
}
