

/* tooltip */
.event-tooltip{
    position:fixed;
    z-index:9999;
    border-radius:5px;
    background-color:#550d83; 
    color:#fff;
    padding:3px 5px;
    margin-left:-140px;
    width:300px;
    margin-top:-20px;
    display:none;
}
.event-tooltip:before{
content: "";
  position: absolute;
  top: 100%;
  left:150px;
  width: 0;
  border-top: 10px solid #550d83;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

/* Fullcalender toolbar buttons */
#wpajaxbundle .fc .fc-button {
    font-size: 1.0em !important;
    line-height: 0.9em;
}

#wpajaxbundle .fc .fc-button .fc-icon {
    font-size: 1.3em !important;
    line-height: 0.9em;
}

/* Fullcalender event grid */
#calendar a.fc-event {
    background-color: #630093 !important;
    border: 1px solid #cccccc !important;
    color: #fff;
    padding: 5px;
    transition: all 300ms ease-in-out;
    border-radius: 5px;
}

#calendar a.fc-event:hover,
#calendar a.fc-event.active {
    color: #000;
    background-color: #ddd !important;
    border: 1px solid #ddd !important;
}


