
/* Fullcalender event popup */
.popbox {}

#wpajaxbundle .popbox {
    position: absolute;
    z-index: 999999;
    display: none;
    width: 50%;
    min-width: 320px;
    left: 25%;
    top: 18%;
    background-color: #f3f3f3; 
    border-radius: 8px;
    overflow: hidden;
    font-size: 0.9em;
    -webkit-box-shadow: 1px 3px 5px 1px #565656;
    box-shadow: 1px 3px 5px 1px #565656;
    transition: all 300ms ease-in-out;
}
#wpajaxbundle .popbox .innerwrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
#wpajaxbundle .popbox .innerwrap .column1 {
    position: relative;
    flex: 3;
    width: 60%;
}
#wpajaxbundle .popbox .innerwrap .column2 {
    position: relative;
    flex: 2;
    width: 40%;
    padding: 10px 10px 10px 0px;
}
#wpajaxbundle .popbox .introbar {
    position: relative;
    padding: 10px 10px 0px 10px;
}
#wpajaxbundle .popbox div.image img.eventcover {
    border-radius: 5px;
    margin-bottom:-30px;
}
#wpajaxbundle .popbox .introbar .titlebar {
    position: relative;
    width: 100%;
    color: #550d83;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#wpajaxbundle .popbox .introbar .titlebar h3 {
    padding: 10px 10px 0px 10px;
    color: #550d83;
}
#wpajaxbundle .popbox .introbar .titlebar .date {
    padding: 5px 10px 10px 10px;
}

#wpajaxbundle .popbox .contentbar {
    position: relative;
    padding: 15px 10px 10px;
    overflow-y: auto;
    max-height: 240px;
}
#wpajaxbundle .popbox .contentbar a {
    color: #550d83;
}

.details .eventstart,
.details .eventend,
#wpajaxbundle .popbox .innerwrap .column2 .moreinfo .infobutton a {
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 1.1em;
    color: #4c4c4c;
}

#wpajaxbundle .popbox .innerwrap .column2 .titledate,
#wpajaxbundle .popbox .innerwrap .column2 .time {
    color: #550d83;
}

#wpajaxbundle .popbox .innerwrap .column2 .moreinfo .infobutton a {
    color: #4c4c4c;
}

#wpajaxbundle .popbox .innerwrap .column2 .moreinfo .infobutton a:hover {
    background-color: #fff;
    color: #550d83;
}

#wpajaxbundle .popbox .innerwrap .column2 .moreinfo .infobutton a:hover:after {
    content: ' >';
}

#wpajaxbundle .popbox .innerwrap .column2 .location {
    padding-left: 10px;
    padding-bottom: 10px;
}

#wpajaxbundle .popbox .innerwrap .column2 .moreinfo {}

#wpajaxbundle .popbox .details h5,
#wpajaxbundle .popbox .location h5,
#wpajaxbundle .popbox .moreinfo h5 {
    font-weight: normal;
}

#wpajaxbundle .popbox .details h5,
#wpajaxbundle .popbox .moreinfo h5,
#wpajaxbundle .popbox .details .allday {
    margin-left: 10px; 
}

#wpajaxbundle .popbox .close {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    display: block;
    font-family: Courier New, monospace;
    font-size: 28px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    opacity: .7;
    pointer-events: all;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
    z-index: 99999;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    width: 30px;
    border-bottom-left-radius: 8px;
    background: #0002;
    -webkit-box-shadow: 0 0 0 1px #ffffff08;
    box-shadow: 0 0 0 1px #ffffff08;
    color: #eee;
    text-shadow: 0 0 1px #000, 0 0 3px #000a;
}

@media screen and (max-width: 960px) {
    #wpajaxbundle .popbox {
        position: absolute;
        z-index: 999999;
        display: none;
        width: 96%;
        max-width: 96%;
        left: 2%;
        top: 10%;
    }
}
